<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>local.minicon.memory.modern</string>
	<key>CFBundleName</key>
	<string>Memory research</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>UIDesignRequiresCompatibility</key>
	<false/>
</dict>
</plist>
